<a href="https://colab.research.google.com/github/Deepthi-Vijayan/DataScience/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lets Grow More**

**Task 1**


**Name :DEEPTHI VIJAYAN**


**Data Science Internship ,LETSGROWMORE**


**Iris Flower Classification ML Project**

**Description Of Task:**
This particular ML project is usually referred to as th
e “Hello World” of Machine Learning. The iris flowers dataset contains numeric attributes, and it is perfect for beginners to learn about supervised ML algorithms, mainly how to load and handle data. Also, since this is a small dataset, it can easily fit in memory without requiring special transformations or scaling capabilities.


**Dataset: http://archive.ics.uci.edu/ml/datasets/Iris**

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn

In [7]:
col_names=['Sepal_length','Sepal_width','Petal_length','Petal_width','Species']
iris_data=pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=col_names)
iris_dataset1.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
iris_data.tail()

     Sepal_length  Sepal_width  Petal_length  Petal_width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [11]:
iris_data.describe()

       Sepal_length  Sepal_width  Petal_length  Petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal_length  150 non-null    float64
 1   Sepal_width   150 non-null    float64
 2   Petal_length  150 non-null    float64
 3   Petal_width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [15]:
iris_data.shape

(150, 5)

In [16]:
iris_data.isnull()

     Sepal_length  Sepal_width  Petal_length  Petal_width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [17]:
iris_data.dtypes

Sepal_length    float64
Sepal_width     float64
Petal_length    float64
Petal_width     float64
Species          object
dtype: object

In [18]:
iris_data.count

<bound method DataFrame.count of      Sepal_length  Sepal_width  Petal_length  Petal_width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [21]:
iris_data.columns

Index(['Sepal_length', 'Sepal_width', 'Petal_length', 'Petal_width',
       'Species'],
      dtype='object')

In [23]:
pd.DataFrame(iris_data)

     Sepal_length  Sepal_width  Petal_length  Petal_width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
iris_data.nunique()

Sepal_length    35
Sepal_width     23
Petal_length    43
Petal_width     22
Species          3
dtype: int64

In [25]:
unique=iris_data.Species.unique().tolist()
unique

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [ ]:
species_count=iris_dataset1.Species.value_counts()
count=species_count.tolist()
species_count.to_frame()

In [26]:
iris_data.Species.value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

In [29]:
unique=iris_data.Species.unique().tolist()
unique

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [33]:
species_count=iris_data.Species.value_counts()
count=species_count.tolist()
species_count.to_frame()

                 Species
Iris-virginica        50
Iris-setosa           50
Iris-versicolor       50

In [ ]:
iris_data.Species.value_counts()